@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

*{
    font-family: 'JetBrains Mono' ;
}

#base-container {
    margin-top: 4rem;
    margin-bottom: 10rem;
    max-width: 700px;
}

.general-button {
    border: 2px solid rgba(0, 0, 0, 0.125);
    background-color: rgba(0, 0, 0, 0.03);
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 10px;
}


.general-button:hover {
    border: 2px solid dodgerblue;
    color: dodgerblue;
}