<style>
    footer{
        border: 2px solid black;
        border-bottom: none;
        border-radius: 10px 10px 0 0;
        max-width: 700px;
        margin: auto;
        background-color: azure;
    }
</style>

<footer class="page-footer font-small pt-4 mt-5">
    <div class="footer_container">
        <ul class="list-unstyled list-inline text-center footer_social_media">
            <li class="list-inline-item">
                    <i class="fab fa-facebook"></i>
            </li>
            <li class="list-inline-item">
                    <i class="fab fa-instagram"></i>
            </li>
        </ul>
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="/"> domain.com</a>
    </div>
</div>
</footer>
