{% load static %}

<style>
    /* adding some style to signup modal */
    .signup-input {
        /* display: block; */
        width: 90%;
        max-width: 250px;
        margin: 1rem 5px;
        outline: none !important;

    }

    #signup-modal .modal-dialog {
        max-width: 600px;
        width: 100%;
    }

    #signup-modal .modal-content {
        max-width: 600px;
        padding: 1rem;
        width: 600px;
        margin-right: 1rem;
    }

    #username {
        max-width: 220px;
        border: 0px;
        margin: 0;
        border-width: 1px;
    }

    #username-checker {
        margin-right: 7px;
        line-height: 1.5rem;
    }
    .fa-check-circle{
        color: limegreen;
    }

    .fa-times-circle{
        color: tomato;
    }
    .username-check-container {
        border: 1px solid black;
        width: fit-content;
        height: fit-content;
        display: inline-block;
    }
</style>



<div class="modal" tabindex="-1" id="signup-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/signup/" method="POST" id="signup-form">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="text" name="first_name" id="first_name" placeholder="First Name" class="signup-input">
                    <input type="text" name="last_name" id="last_name" placeholder="Last Name" class="signup-input">
                    <input type="email" name="email" id="email" placeholder="Email" class="signup-input">
                    <div class="username-check-container">
                        <input class="signup-input" type="text" name="username" placeholder="Username" id="username">
                        <span class="fas" id="username-checker"></span>
                    </div>

                    <input class="signup-input" type="password" name="password" id="password" placeholder="Password">

                    <input class="signup-input" type="password" name="conform-password" id="conform-password"
                        placeholder="Conform Password">


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create Account</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // adding toggle property to the sign up modal
    var signupBtn = document.getElementById('signup-btn');
    signupBtn.addEventListener('click', () => {
        signupModal = new bootstrap.Modal(document.getElementById('signup-modal'), {
            keyboard: false
        })
        signupModal.toggle()
    })

// setting login form path with next url 
var signupForm = document.getElementById('signup-form');
signupForm.action = `/signup/?next=${next}`;


</script>

<script src="{% static 'JS/username-check.js' %}"></script>